{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit User</legend>
                {{ render_field(form.login_name) }}
                {{ render_field(form.username) }}
                {{ render_field(form.email)}}
                {{ render_field(form.role_id) }}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
